<div class="retro-adv">
  <button type="button" data-retro-action="dis" {{#if dis}}disabled{{/if}}>
    {{localize "RetroAdvBF.Disadvantage"}}
  </button>
  <button type="button" data-retro-action="norm" {{#if norm}}disabled{{/if}}>
    {{localize "RetroAdvBF.Normal"}}
  </button>
  <button type="button" data-retro-action="adv" {{#if adv}}disabled{{/if}}>
    {{localize "RetroAdvBF.Advantage"}}
  </button>
</div>
